<!-- Proyectos -->
<section id="proyectos" class="container-proyectos">
    <div class="editar-datos">
  <h2 class="titulo-degrade">Proyectos</h2>
      <!-- ICONO de EDICIÓN -->
      <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
      <i class="eliminacion fas fa-times fa-lg"></i>
    </div>
  <div class="row row-proy">
    <div class="col-12 col-md-6 proyecto" *ngFor="let proyectos of proyectosList">
      <img [src]="proyectos.imgProyecto" alt="Encriptador de Texto" class="img-fluid">
      <h3 class="mt-3">{{proyectos.nameProyecto}}</h3>
      <p class="mt-4">{{proyectos.description}}</p>
        <p class="tecnologias">{{proyectos.tecnologias}}</p>
      <div class="d-flex justify-content-between mt-3">
        <a [href]="proyectos.verRepositorio" target="_blank" class="btn btn-primary">Repositorio</a>
        <a [href]="proyectos.verDemo" target="_blank" class="btn btn-success">Ver deploy</a>
      </div>
    </div>
  </div>
</section>
