<!-- Educación -->
<section class="educacion" id="educacion">
  <div class="editar-datos">
  <h2 class="titulo-degrade">Educación</h2>
  <!-- ICONO de EDICIÓN -->
  <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
  <i class="eliminacion fas fa-times fa-lg"></i>
  </div>

  <div class="container-educacion">
    <div class="col-lg-1 ocultar-col"></div>
      <div class="row row-edu col-lg-11">
        <ul class="cursos" *ngFor="let education of educationList">
            <img [src]="education.imgInstitution" class="foto-curso" alt="Argentina Programa">
            <li class="curso-li">
              <h3 class="curso-nombre">{{education.nameInstitution}}</h3>
              <p class="curso-fecha">{{education.dateSchool}}</p>
              <p class="curso-descripcion">
                {{education.descriptionSchool}}
              </p>
            </li>
        </ul>
      </div>
    </div>
</section>

