<!-- Banner de presentación -->

<header>
  <section>
      <div class="container text-center"></div>
<!-- Imágen de perfil -->
      <div class="banner">
        <div class="profile-image">
            <img [src]="miPortafolio.fotoPerfil" alt="Perfil">
        <!-- ICONO de EDICIÓN 
        <div class="icon-container d-flex">
          <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
          <i class="eliminacion fas fa-times fa-lg"></i>
        </div>-->
        </div>
      </div>
<!-- Nombre y ocupación -->
<section>
    <div class="nombre-ocupacion">
        <div class="editar-datos">
        <h1 class="mi-nombre-degrade d-flex">{{miPortafolio.name}}</h1>
        <!-- ICONO de EDICIÓN 
          <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
          <i class="eliminacion fas fa-times fa-lg"></i>-->
        </div>
        <h3 class="ocupacion">{{miPortafolio.ocupation}}</h3>
        <h6 class="lugar">{{miPortafolio.ubication}}</h6>
    
<!-- Linea de Iconos de Redes Sociales -->
        <div class="iconos">
            <a href="https://www.linkedin.com/in/carolina-d-angelo/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://www.instagram.com/caroladangelo_/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/CarolinaDangelo" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </div>
    </div>
</section>
<!-- Sobre mí -->
    <div class="sobre-mi" id="sobre-mi">
          <div class="editar-datos">
        <h2 class="titulo-degrade">Sobre mí</h2>
            <!-- ICONO de EDICIÓN 
            <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
            <i class="eliminacion fas fa-times fa-lg"></i>-->
          </div>
        <p class="parrafo-sobre_mi">{{miPortafolio.sobreMi}}</p>
    </div>
</section>
</header>