.btn-nueva {
    margin-left: 32px;
    font-weight: 600;
    font-family: 'Raleway';
}

.name_exp{
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    font-family: 'Raleway';;
}

.desc_exp{
    color:#fff;
    font-family: 'Raleway';
}

.table {
  margin-left: 35px;
}

/*------- RESPONSIVE MOBILE -------*/

@media only screen and (max-width: 768px) {
    .table {
        display: block;
        width: auto;
        margin: 0;
    }
  
    .table tbody,
    .table tr,
    .table td {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .table tr {
      margin-bottom: 15px;
    }
  
    .table td {
      border-top: none;
      position: relative;
      padding-left: 50%;
    }
  
    .table td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      white-space: nowrap;
    }
  
    .table .name_exp:before {
      content: "Empresa:";
      font-weight: bold;
      font-size: 24px;
    }
  
    .table .desc_exp:before {
      content: "Tareas:";
      font-weight: bold;
    }
  
    .table td:last-child {
      border-bottom: 1px solid #ddd;
    }

    thead, tbody, tfoot, tr, td, th {
        border-color: none;
        border-style: none;
        border-width: none;
    }
}

/*------- RESPONSIVE TABLET -------
@media (max-width: 768px) {
    .table {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .table tbody,
    .table tr,
    .table td {
      display: block;
    }
  
    .table tr {
      margin-bottom: 15px;
    }
  
    .table td {
      border-top: none;
      position: relative;
      padding-left: 45%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .table td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 40%;
      padding-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .table .name_exp:before {
      content: "Nombre:";
      font-weight: bold;
    }
  
    .table .desc_exp:before {
      content: "Descripción:";
      font-weight: bold;
    }
  
    .table td:last-child {
      border-bottom: 1px solid #ddd;
    }
  }*/