<!-- Experiencia -->
<section class="experiencia" id="experiencia">
    <div class="editar-datos">
    <h2 class="titulo-degrade">Experiencia laboral</h2>
    <!-- ICONO de EDICIÓN -->
    <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
    <i class="eliminacion fas fa-times fa-lg"></i>
    </div>
  
    <div class="container-experiencia">
      <div class="col-lg-1 ocultar-col"></div>
        <div class="row row-edu col-lg-11">
          <ul class="cursos" *ngFor="let experiencia of experienciaList">
              <img [src]="experiencia.imgCompany" class="foto-curso" alt="Jobs">
              <li class="curso-li">
                <h3 class="curso-nombre">{{experiencia.nameCompany}}</h3>
                <p class="curso-fecha">{{experiencia.dateJob}}</p>
                <p class="curso-descripcion">
                  {{experiencia.descriptionJob}}
                </p>
              </li>
          </ul>
        </div>
      </div>
  </section>