<!-- Soft Skills -->
<section class="container-soft">
    <h2 class="titulo-degrade" id="softskills">Soft Skills</h2>
    <div class="soft-skills">
    <div class="row">
      <div class="col-4 soft">
        <i class="fas fa-users skill-icon"></i>
        <p class="skill-title">Trabajo en equipo</p>
      </div>
      <div class="col-4 soft">
        <i class="fas fa-book skill-icon"></i>
        <p class="skill-title">Aprendizaje constante</p>
      </div>
      <div class="col-4 soft">
        <i class="fas fa-lightbulb skill-icon"></i>
        <p class="skill-title">Creatividad</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 soft">
        <i class="fas fa-rocket skill-icon"></i>
        <p class="skill-title">Proactividad</p>
      </div>
      <div class="col-4 soft">
        <i class="fas fa-tasks skill-icon"></i>
        <p class="skill-title">Autogestión</p>
      </div>
      <div class="col-4 soft">
        <i class="fas fa-smile skill-icon"></i>
        <p class="skill-title">Actitud positiva</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 soft">
        <i class="fas fa-handshake skill-icon"></i>
        <p class="skill-title">Empatía</p>
      </div>
      <div class="col-4 soft">
        <i class="fas fa-briefcase skill-icon"></i>
        <p class="skill-title">Productividad</p>
      </div>
      <div class="col-4 soft">
        <i class="fas fa-shield-alt skill-icon"></i>
        <p class="skill-title">Resiliencia</p>
      </div>
    </div>
    </div>
</section>
