<!--Hard y Soft Skills-->
<section class="skills-container" id="hardskills">
  <div class="editar-datos"> 
  <h2 class="titulo-degrade">Hard Skills</h2>
    <!-- ICONO de EDICIÓN 
    <i class="edicion fas fa-pencil-alt fa-lg mr-3"></i>
    <i class="eliminacion fas fa-times fa-lg"></i>-->
  </div>
  <div class="skill-section">
  <!-- 1er FILA -->
    <div class="row">
        <div class="inline-circle col-sm-6 col-md-4 col-lg-4 d-flex flex-column align-items-center my-3" 
        *ngFor="let hardSkills of skillsAdd">
          <circle-progress
            [percent]="hardSkills.percent"
            [radius]="80"
            [title]= "hardSkills.nameSkill"
            [titleColor]="'#ffffff'"
            [titleFontWeight]="'600'"
            [titleFontSize]="'20px'"
            [showUnits]="false"
            [subtitle]="hardSkills.progress"
            [subtitleColor]="'#ffffff'"
            [subtitleFontSize]="'14px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(133, 96, 146)'"
            [innerStrokeColor]="'#6fb0d8'"
            [animation]="false"
            [animationDuration]="400"
          ></circle-progress>
        </div>
      </div>
    </div>
</section>